
.wrapper{
  background-color: #fbfbfb; 
}


::-webkit-scrollbar{
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track{
  background: hsla(0, 0%, 17%, 0);
  border-radius: 100vw;
  margin-block: .5em;
}

::-webkit-scrollbar-thumb{
  background: hsl(0, 0%, 73%);
  border-radius: 100vw;
  border: .25em hsl(60, 9%, 2%);
}

::-webkit-scrollbar-thumb:hover{
  background: hsl(0, 0%, 57%);
}

/* SUPORTE EM OUTROS NAVEGADORES */
@supports (scrollbar-color: white black){
  *{
      scrollbar-color:  hsl(0, 0%, 68%) hsl(0, 0%, 0%);
      scrollbar-width: auto;
  }
}



/* CARDS */


.card-proj1{
  position: relative;
  width: 600px;
  height: 340px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: left;
  margin-left: 50px;
}
.card-proj1:hover {
    transform: scale(1.1);
  }
  .card-proj1 {
    transition: transform 0.5s;
  }

  .card-proj1 a{
  text-decoration: none;
  }

.card-proj1 img{
    z-index: 15;
    width: 650px;
    height: 350px;
}
  

  /* CARD 2 */
  .card-proj2{
    position: relative;
  width: 600px;
  height: 340px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 110px;
  margin-top: 50px;
  float: right;
}
.card-proj2:hover {
    transform: scale(1.1);
  }
  .card-proj2 {
    transition: transform 0.5s;
  }
  
  .card-proj2 a{
    text-decoration: none;
    }

.card-proj2 img{
    z-index: 15;
    width: 600px;
    height: 450px;
}

/* CARD 3 */
  .card-proj3{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-left: 50px;
  margin-top: 80px;
  float: left;
}
.card-proj3:hover {
    transform: scale(1.1);
  }
  .card-proj3 {
    transition: transform 0.5s;
  }
  
  .card-proj3 a{
    text-decoration: none;
    }

.card-proj3 img{
    z-index: 15;
    width: 600px;
    height: 450px;
}

/* CARD 4 */
  .card-proj4{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 100px;
  margin-top: 80px;
  float: right;
}

.card-proj4:hover {
    transform: scale(1.1);
  }
  .card-proj4 {
    transition: transform 0.5s;
  }
  
  .card-proj4 a{
    text-decoration: none;
    }

.card-proj4 img{
    z-index: 15;
    width: 601px;
    height: 350px;
}

/* CARD 5 */
  .card-proj5{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-left: 50px;
  margin-top: 80px;
  float: left;
}

.card-proj5:hover {
    transform: scale(1.1);
  }
  .card-proj5 {
    transition: transform 0.5s;
  }
  .card-proj5 a{
    text-decoration: none;
    }
.card-proj5 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}

/* CARD 6 */
.card-proj6{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 90px;
  margin-top: 80px;
  float: right;
}

.card-proj6:hover {
    transform: scale(1.1);
  }
  .card-proj6 {
    transition: transform 0.5s;
  }

  .card-proj6 a{
    text-decoration: none;
    }
  
.card-proj6 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}

/* CARD 7 */
.card-proj7{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-left: 50px;
  margin-top: 80px;
  float: left;
}

.card-proj7:hover {
    transform: scale(1.1);
  }
  .card-proj7 {
    transition: transform 0.5s;
  }

  .card-proj7 a{
    text-decoration: none;
    }
  
.card-proj7 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}

/* CARD 8 */
.card-proj8{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 90px;
  margin-top: 80px;
  float: right;
}

.card-proj8:hover {
    transform: scale(1.1);
  }
  .card-proj8 {
    transition: transform 0.5s;
  }

  .card-proj8 a{
    text-decoration: none;
    }
  
.card-proj8 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}

/* CARD 9 */
.card-proj9{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-left: 50px;
  margin-top: 80px;
  float: left;
}

.card-proj9:hover {
    transform: scale(1.1);
  }
  .card-proj9 {
    transition: transform 0.5s;
  }
  
  .card-proj9 a{
    text-decoration: none;
    }
  
.card-proj9 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}

/* CARD 10 */
.card-proj10{
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 90px;
  margin-top: 80px;
  float: right;
}

.card-proj10:hover {
    transform: scale(1.1);
  }
  .card-proj10 {
    transition: transform 0.5s;
  }

  .card-proj10 a{
    text-decoration: none;
    }

.card-proj10 img{
    z-index: 15;
    width: 600px;
    height: 350px;
}


/* ANIMAÇÃO */
.card-proj1, .card-proj2, .card-proj3, .card-proj4,
.card-proj5, .card-proj6, .card-proj7, .card-proj8, 
.card-proj9, .card-proj10{
  visibility: hidden;
}


/* FOOTER */

footer{
  
}
.rodape{
  width: 500px;
  height: 500px;
}