@font-face {
    font-family: 'fonte1';
    src: url(../font/KaushanScript-Regular.ttf);
}

body{
    background-color: black;
}
/* BOTÕES */

.right button:hover {
    color: black;
   }

.right button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .right button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
    transition: all 0.5s;
   }
   
.right{
    display: inline-block;
    margin-left: 1300px;
    margin-top: 20px;
}

.right button{ 
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: rgb(113, 113, 113);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* BOTAO 2 */
.right-button button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .right-button button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
    transition: all 0.5s;
   }

.right-button  button:hover {
    color: black;
   }

.right-button{
    display: inline;
    margin-left: 30px;
}

.right-button button{
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: rgb(113, 113, 113);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


/* CAIXA DE FUNDO */
.caixa-fundo{
    background: #D9D9D9;
    height: 500px;
    width: 500px;
    float: left;
    margin-left: 90px; 
    z-index: 1;
    margin-top: 70px;
}
.caixa-fundo p{ /* PORTFOLIO */
    color: white;
    margin-top: -90px;
    font-size: 150px;
    font-family: 'fonte1';
}

.capa img{
    margin-left: -500px;
    margin-top: 215px;
    z-index: 14;
}


.right-text p{
    float: right;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:  750px;
    text-align: justify;
    margin: -350px 190px 28px;
}


/* SOBRE MIM */

.center-sobre p{
    color: white;
    font-family: 'fonte1';
    font-size: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sobre p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:  900px;
    text-align: justify;
    margin: -320px 390px 28px;
}

.center-projetos P{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'fonte1';
    color: white;
}

.center-projetos span{
    font-size: 25px;
    font-family: 'fonte1';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    margin-top: -140px;
    margin-left: 610px;
}


/* CARDS */
.card-proj1{
    position: relative;
  width: 490px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: left;
  margin-left: 190px;
}
.card-proj1:hover {
    transform: scale(1.1);
  }
  .card-proj1 {
    transition: transform 0.5s;
  }
  
.card-proj1 img{
    z-index: 15;
    width: 500px;
    height: 350px;
}
  
  .bg-color {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }

  /* CARD 2 */
  .card-proj2{
    position: relative;
  width: 490px;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  margin-right: 190px;
  margin-top: 50px;
  float: right;
}
.card-proj2:hover {
    transform: scale(1.1);
  }
  .card-proj2 {
    transition: transform 0.5s;
  }
  
.card-proj2 img{
    z-index: 15;
    width: 500px;
    height: 350px;
}
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
  }

  


/* VOLTAR
 button {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
}

button > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

button:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

button:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
} */