@font-face {
    font-family: 'fonte1';
    src: url(../font/KaushanScript-Regular.ttf);
}

body{
    background-color: black;
}
/* BOTÕES */
.right{
    display: inline-block;
    margin-left: 1300px;
    margin-top: 20px;
}

.right button{ 
    background-color: #D9D9D9;
    font-size: 15px;
    font-size: 20px;
    border-radius: 25px;
    width: 150px;
    height: 45px;
}

.right-button{
    display: inline;
    margin-left: 30px;
}

.right-button button{
    margin-left: 5px;
    background-color: #D9D9D9;
    font-size: 15px;
    height: 45px;
    width: 150px;
    border-radius: 25px;
    font-size: 20px;
}


/* CAIXA DE FUNDO */
.caixa-fundo{
    background: #D9D9D9;
    height: 500px;
    width: 500px;
    float: left;
    margin-left: 90px; 
    z-index: 1;
    margin-top: 70px;
}
.caixa-fundo p{ /* PORTFOLIO */
    color: white;
    margin-top: -100px;
    font-size: 150px;
    font-family: 'fonte1';
}

.capa img{
    margin-left: -500px;
    margin-top: 270px;
    z-index: 14;
}


.right-text p{
    float: right;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:  750px;
    text-align: justify;
    margin: -350px 190px 28px;
}


/* SOBRE MIM */

.center-sobre p{
    color: white;
    font-family: 'fonte1';
    font-size: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sobre p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:  900px;
    text-align: justify;
    margin: -320px 390px 28px;
}