body{
    background-color: black;
}

.right{
    display: inline-block;
    margin-left: 1450px;
    margin-top: 20px;
}

.right button{ 
    background-color: #D9D9D9;
    font-size: 15px;
    border-radius: 25px;
}

.right-button{
    display: inline-block;
}

.right-button button{
    margin-left: 5px;
    background-color: #D9D9D9;
    font-size: 15px;
    border-radius: 25px;
}

.titulo p{
    color: white;
}