@charset "UTF-8";

@font-face {
    font-family: 'fonte1';
    src: url(../font/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'fonte2';
    src: url(../font/Judson-Regular.ttf);
}

body{
    margin: 0;
    background-color: white;
    color: white;
}

/* BOTÕES */
/* BOTÕES */

nav{
    background-color: rgb(255, 255, 255);
    padding-top: 60px;
    margin-left: 70%;
  }
  
  nav li{
    display: inline-block;
  }
  
  nav li a{
    display: inline-block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
  }
  
  nav li{
    border-radius: 10px;
    background-color: #D9D9D9;
    
  }
  
    .dropdown{     
      background: #D9D9D9;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      z-index: 1;    
    }
     .talk{     
      background: #D9D9D9;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      z-index: 1;    
  }  
  
   .contato{
    padding-inline-end: 12px;
    font-weight: bold;
  } 
  
  .dropdown-menu ul li{
    background: rgb(113, 113, 113);
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .dropdown-menu{
    position: absolute;
    border: none;
    display: none;
    box-shadow: 0 0 2px white;
    cursor: pointer;
  }
  
  .dropdown-menu a{
    display: block;
    color: rgb(0, 0, 0);
    background-color: #D9D9D9;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  .dropdown-menu a:hover{
    background-color: white;
  }


.center-projetos P{
    margin-bottom: 390px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
}

.center-projetos span{
    font-size: 25px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    margin-top: -490px;
    margin-left: 1020px;
}

/* TEXTOS - CARD */
.text-project1 {
    color: rgb(0, 0, 0);
    font-family: 'fonte2';
    background-color: black;
    z-index: 15;
    margin-bottom: -50px;
}

