@charset "UTF-8";

@font-face {
    font-family: 'fonte1';
    src: url(../font/KaushanScript-Regular.ttf);
}
body{
    background-color: 
    black;
}

/* BOTÕES */

.right button:hover {
    color: black;
   }

.right button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .right button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
    transition: all 0.5s;
   }
   
.right{
    display: inline-block;
    margin-left: 920px;
    margin-top: 20px;
}

.right button{ 
    width: 5.5em;
    height: 2.3em;
    margin: 0.5em;
    background: rgb(113, 113, 113);
    color: white;
    border: none;
    border-radius: 65em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* BOTAO 2 */
.right-button button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .right-button button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
    transition: all 0.5s;
   }

.right-button  button:hover {
    color: black;
   }

.right-button{
    display: inline;
    margin-left: 30px;
}

.right-button button{
    width: 5.5em;
    height: 2.3em;
    margin: 0.5em;
    background: rgb(113, 113, 113);
    color: white;
    border: none;
    border-radius: 65em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.center-projetos P{
    margin-bottom: 390px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    font-family: 'fonte1';
    color: white;
}

.center-projetos span{
    font-size: 25px;
    font-family: 'fonte1';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    margin-top: -490px;
    margin-left: 1020px;
}