@charset "UTF-8";

@font-face {
    font-family: 'fonte1';
    src: url(../font/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'fonte2';
    src: url(../font/Judson-Regular.ttf);
}

* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
    padding: 1rem;
}

/* BOTÕES */
/* BOTÕES */

nav.contato{
    color: rgb(255, 255, 255);
    margin-top: -51px;
    margin-left: 90%;
  }
  
  nav li{
    display: inline-block;
  }
  
  nav li a{
    display: inline-block;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
      color: black;
      font-weight: bold;
    text-decoration: none;
    padding: 15px;
    transition: 0.4s;
    opacity: 0.8;
  }
  
  nav li a:hover{
      opacity: 2;
      background-color: rgb(194, 192, 192);
  }
  
  
    .dropdown{     
      background: none;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
    }
    
  
  .dropdown-menu ul li{
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .dropdown-menu{
    position: absolute;
    border: none;
    display: none;
    cursor: pointer;
  }
  
  .dropdown-menu a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  
  .dropdown-menu a:hover{
    background-color: rgb(194, 192, 192);
  }
  
  




.center-projetos P{
    margin-bottom: 390px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
}

.center-projetos span{
    font-size: 25px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -490px;
    margin-left: 1020px;
}


.linha{
  height: 40px;
  color: black;
  width: 20px;
}


/* ================ JANELA MODAL ================ */


h1{
  color: black;
}

#close-modal{
  padding: .6rem 1.2rem;
  background: #ff0505;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1rem;
  transition: 0.4s;
}


#open-modal{ /* botão */
  margin-left: 75%;
  margin-top: 4%;
  border: none;
  border-radius: 20px;
  background: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
}

#open-modal:hover{
    opacity: 2;
    background-color: rgb(194, 192, 192);
}


button:hover{
  opacity: 1;
}


#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}


/* ========= CONTATO MODAL ======= */
.modal-body a{
  color: rgb(223, 0, 0);
  font-size: 1.2em;
  text-decoration: none;
  padding: 65px;
}

.modal-body a:hover{
  color: #ff6464;
}

a.zap{
  color: green;
}

a.zap:hover{
  color: rgb(1, 215, 1);
}