@media screen and (max-width: 636px) { /*Pequenas telas*/
    
    nav.contato{
        margin-top: -42px;
        margin-left: 370px;
        font-size: 15px;
        width: 25%;
          }

      nav li a{
        font-size: 16px;
      }


      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 15px;
      width: 25%;
      margin-top: 25px;
      margin-left: 210px;
      }

    .switch_container{
        margin-left: -20em;
        font-size: 14px;
    }

    /* == IMAGEM === */
    .img-about img{
        width: 250px;
        height: 350px;
        margin: 30px -134px;
    }

    #tecnologias{
        margin-top: 85px;
    }

    /* ABOUT */
    .about h4{
        margin-top: 50px;
    }
    .about{
        text-align: center;
        margin: 2.5rem;
    }

    .about p{
        margin-left: 15px;
        width: 400px;
    }
    
    .button-CV{
        display: inline-flex;
        align-items: center;
        margin-left: 170px;
        margin-top: 5px;
    }

    .home__scroll-button{
        display: none;
    }

    .card{
        width: 200px;
        margin-left: 15px;
        float: left;
        height: 250px;
    }

    .card2{
        margin-top: 35px;
        margin-left: 45px;
        display: inline-block;
        height: 250px;
        width: 200px;
    }

    .card3{
        margin-top: 0em;
        margin-left: 15px;
        height: 250px;
        float: left;
        width: 200px;
    }

    .card4{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 200px;
        height: 250px;
    }
    
    .card5{
        margin-top: 3.5em;
        margin-left: 21px;
        float: left;
        width: 200px;
        height: 250px;
    }
    
    .card6{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 200px;
        height: 250px;
    }
    
    .card7{
        margin-top: 3.5em;
        margin-left: 21px;
        float: left;
        width: 200px;
        height: 250px;
    }
    
    .card8{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 200px;
        height: 250px;
        margin-bottom: 5em;
    }




      /* == FOOTER == */
      .footer{
        display: inline-block;
      }

      .footer .footer-title{
        margin-right: 325px;
      }

      .footer .footer-links {
        margin-left: 300px;
      }

      .footer .footer-info {
        margin-right: 210px;
        margin-top: -24px;
      }
}

@media screen and (min-width: 636px) and (max-width: 768px){ /*Celular*/
    nav.contato{
        margin-top: -42px;
        margin-left: 600px;
        font-size: 15px;
        width: 25%;
          }

      nav li a{
        font-size: 16px;
      }


      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 15px;
      width: 20%;
      margin-top: 25px;
      margin-left: 440px;
      }

    .switch_container{
        margin-left: -244px;
        font-size: 14px;
    }

    /* == IMAGEM === */
    .img-about img{
        width: 200px;
        height: 300px;
        margin-left: -14em;
        margin-top: 90px;
    }

    /* ABOUT */
    .about h4{
        margin-top: -9em;
        margin-left: 8em;
        font-size: 2.5rem;
    }
    .about{
        text-align: center;
        margin: 2.5rem;
    }

    .about p{
        margin-left: 18em;
        width: 381px;
    }
    
    .button-CV{
        display: inline-flex;
        align-items: center;
        margin-left: 430px;
        margin-top: 5px;
    }

    .home__scroll-button{
        display: none;
    }

    .card{
        width: 200px;
        margin-left: 15px;
        float: left;
        height: 250px;
    }

    .card2{
        margin-top: 35px;
        margin-left: 55px;
        display: inline-block;
        height: 250px;
        width: 200px;
    }

    .card3{
        margin-top: 2.5em;
        margin-right: 15px;
        height: 250px;
        width: 200px;
    }

    .card4{
        margin-top: 4.5em;
        margin-left: 14px;
        width: 200px;
        height: 250px;
    }
    
    .card5{
        margin-top: -15.5em;
        margin-left: 265px;
        width: 200px;
        height: 250px;
    }
    
    .card6{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 200px;
        height: 250px;
    }
    
    .card7{
        margin-top: 3.5em;
        margin-left: 21px;
        float: left;
        width: 200px;
        height: 250px;
    }
    
    .card8{
        margin-top: -15.5em;
        margin-right: 275px;
        float: right;
        width: 200px;
        height: 250px;
        margin-bottom: 5em;
    }




      /* == FOOTER == */
      .footer{
        display: inline-block;
      }

      .footer .footer-title{
        margin-right: 345px;
      }

      .footer .footer-links {
        margin-left: 450px;
      }

      .footer .footer-info {
        margin-right: 210px;
        margin-top: -24px;
      }
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*Tablet*/
    nav.contato{
        margin-top: -42px;
        margin-left: 800px;
        font-size: 15px;
        width: 25%;
          }

      nav li a{
        font-size: 16px;
      }


      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 15px;
      width: 15%;
      margin-top: 25px;
      margin-left: 640px;
      }

    .switch_container{
        margin-left: -244px;
        font-size: 14px;
    }

    /* == IMAGEM === */
    .img-about img{
        width: 280px;
        height: 385px;
        margin-left: -10em;
        margin-top: 64px;
    }

    /* ABOUT */
    .about h4{
        margin-top: -9em;
        margin-left: 10em;
        font-size: 3rem;
    }
    .about{
        text-align: center;
        margin: 2.5rem;
    }

    .about p{
        margin-left: 29em;
        width: 440px;
    }
    
    .tittle h3{
        margin-top: 85px;
        font-size: 45px;
    }

    .button-CV{
        display: inline-flex;
        align-items: center;
        margin-left: 642px;
        margin-top: 5px;
    }

    .home__scroll-button{
        margin-left: 156px;
        margin-top: -34px;
    }

    .card{
        width: 240px;
        margin-left: 15px;
        float: left;
        height: 250px;
    }

    .card2{
        margin-top: 35px;
        margin-left: 100px;
        display: inline-block;
        height: 250px;
        width: 240px;
    }

    .card3{
        margin-top: 2.5em;
        margin-right: 15px;
        height: 250px;
        width: 240px;
    }

    .card4{
        margin-top: 4.5em;
        margin-left: 14px;
        width: 240px;
        height: 250px;
    }
    
    .card5{
        margin-top: -15.5em;
        margin-left: 356px;
        width: 240px;
        height: 250px;
    }
    
    .card6{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 240px;
        height: 250px;
    }
    
    .card7{
        margin-top: 3.5em;
        margin-left: 21px;
        float: left;
        width: 240px;
        height: 250px;
    }
    
    .card8{
        margin-top: -15.5em;
        margin-right: 345px;
        float: right;
        width: 240px;
        height: 250px;
        margin-bottom: 5em;
    }




      /* == FOOTER == */
      .footer{
        display: inline-block;
      }

      .footer .footer-title{
        margin-right: 345px;
      }

      .footer .footer-links {
        margin-left: 450px;
      }

      .footer .footer-info {
        margin-right: 210px;
        margin-top: -24px;
      }
}


@media screen and (min-width: 992px) and (max-width: 1357px){ /*Desktop e telas grandes*/
    nav.contato{
        margin-top: -42px;
        margin-left: 800px;
        font-size: 15px;
        width: 25%;
          }

      nav li a{
        font-size: 16px;
      }


      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 15px;
      width: 15%;
      margin-top: 25px;
      margin-left: 640px;
      }

    .switch_container{
        margin-left: -244px;
        font-size: 14px;
    }

    /* == IMAGEM === */
    .img-about img{
        width: 280px;
        height: 385px;
        margin-left: -10em;
        margin-top: 64px;
    }

    /* ABOUT */
    .about h4{
        margin-top: -9em;
        margin-left: 10em;
        font-size: 3rem;
    }
    .about{
        text-align: center;
        margin: 2.5rem;
    }

    .about p{
        margin-left: 29em;
        width: 440px;
    }
    
    .tittle h3{
        margin-top: 85px;
        font-size: 45px;
    }

    .button-CV{
        display: inline-flex;
        align-items: center;
        margin-left: 642px;
        margin-top: 5px;
    }

    .home__scroll-button{
        margin-left: 156px;
        margin-top: -34px;
    }

    .card{
        width: 240px;
        margin-left: 35px;
        float: left;
        height: 250px;
    }

    .card2{
        margin-top: 35px;
        margin-left: 128px;
        display: inline-block;
        height: 250px;
        width: 240px;
    }

    .card3{
        display: block;
        margin-top: 2.5em;
        margin-right: 15px;
        height: 250px;
        width: 240px;
    }

    .card4{
        margin-top: 4.5em;
        margin-left: 35px;
        width: 240px;
        height: 250px;
    }
    
    .card5{
        margin-top: -15.5em;
        margin-left: 388px;
        width: 240px;
        height: 250px;
    }
    
    .card6{
        margin-top: -15.5em;
        margin-right: 21px;
        float: right;
        width: 240px;
        height: 250px;
    }
    
    .card7{
        margin-top: 3.5em;
        margin-left: 35px;
        float: left;
        width: 240px;
        height: 250px;
    }
    
    .card8{
        margin-top: -15.5em;
        margin-right: 366px;
        float: right;
        width: 240px;
        height: 250px;
        margin-bottom: 5em;
    }




      /* == FOOTER == */
      .footer{
        display: inline-block;
      }

      .footer .footer-title{
        margin-right: 345px;
      }

      .footer .footer-links {
        margin-left: 450px;
      }

      .footer .footer-info {
        margin-right: 210px;
        margin-top: -24px;
      }
}



@media screen and (min-width: 679px) and (max-width: 1360px){ /*Tela 2*/
    nav.contato{
        margin-top: -42px;
        margin-left: 1180px;
        font-size: 15px;
        width: 25%;
          }

      nav li a{
        font-size: 16px;
      }


      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 15px;
      width: 10%;
      margin-top: 25px;
      margin-left: 1032px;
      }

    .switch_container{
        margin-left: -244px;
        font-size: 14px;
    }

    /* == IMAGEM === */
    .img-about img{
        width: 312px;
        height: 440px;
        margin-left: 1em;
        margin-top: 64px;
    }

    /* ABOUT */
    .about h4{
        margin-top: -10.5em;
        margin-left: 15em;
        font-size: 3rem;
    }
    .about{
        text-align: center;
        margin: 2.5rem;
    }

    .about p{
        margin-left: 50em;
        width: 440px;
    }
    
    .tittle h3{
        margin-top: 85px;
        font-size: 45px;
    }

    .button-CV{
        display: inline-flex;
        align-items: center;
        margin-left: 950px;
        margin-top: 5px;
    }

    .home__scroll-button{
        margin-left: 85px;
        margin-top: -155px;
    }

    .card{
        width: 240px;
        margin-left: 172px;
        float: left;
        height: 250px;
    }

    .card2{
        margin-top: 35px;
        margin-left: 142px;
        display: inline-block;
        height: 250px;
        width: 240px;
    }

    .card3{
        display: block;
        margin-top: 2.5em;
        margin-right: 160px;
        height: 250px;
        width: 240px;
    }

    .card4{
        margin-top: 4.5em;
        margin-left: 176px;
        width: 240px;
        height: 250px;
    }
    
    .card5{
        margin-top: -15.5em;
        margin-left: 557px;
        width: 240px;
        height: 250px;
    }
    
    .card6{
        margin-top: -15.5em;
        margin-right: 154px;
        float: right;
        width: 240px;
        height: 250px;
    }
    
    .card7{
        margin-top: 3.5em;
        margin-left: 175px;
        float: left;
        width: 240px;
        height: 250px;
    }
    
    .card8{
        margin-top: -15.5em;
        margin-right: 544px;
        float: right;
        width: 240px;
        height: 250px;
        margin-bottom: 5em;
    }




      /* == FOOTER == */
      .footer{
        display: inline-block;
      }

      .footer .footer-title{
        margin-right: 345px;
      }

      .footer .footer-links {
        margin-left: 750px;
      }

      .footer .footer-info {
        margin-right: 210px;
        margin-top: -24px;
      }
}