@media screen and (max-width: 636px){ /*Pequenas telas*/
    body{
        overflow-x: hidden;
    }

    nav.contato{
        margin-top: -45px;
        margin-left: 350px;
        font-size: 10px;
        width: 35%;
          }

      nav li a{
        font-size: 16px;
      }

      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* botão */
      font-size: 14px;
      width: 35%;
      margin-left: 180px;
      }


      .center-projetos P{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-family: 'fonte1';
        color: black;
    }
    
    .center-projetos span{
        font-size: 15px;
        font-family: 'fonte1';
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: -490px;
        margin-left: 1020px;
    }

    /* .linha{
        margin-top: 80px;
        height: 15px;
        width: 10px;  
        display: flex;
        justify-content: center;
    } */

    .card-proj1{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 90px;
      box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
      float: right;
    }
    

    .card-proj2{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 90px;
      box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
      float: right;
      margin-right: 2px;
    }  

    .card-proj3{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-left: 75px;
      margin-top: 80px;
      float: right;
    }

    .card-proj4{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
      margin-right: 100px;
      margin-top: 80px;
      float: right;
    }
    




@media screen and (min-width: 992px){ /*Desktop e telas grandes*/
  
  nav.contato{
    margin-top: -45px;
    margin-left: 420px;
    font-size: 10px;
    width: 35%;
      }

  nav li a{
    font-size: 16px;
  }

  .dropdown-menu a{
    font-size: 15px;
  }
  

  #open-modal{ /* botão */
  font-size: 14px;
  width: 35%;
  margin-top: 25px;
  margin-left: 100px;
  }
  }
}