@media screen and (max-width: 636px){ /*Pequenas telas*/
    body{
        overflow-x: hidden;
    }

    nav.contato{
        margin-top: -45px;
        margin-left: 350px;
        font-size: 10px;
        width: 135px;
          }

      nav li a{
        font-size: 16px;
      }

      .dropdown-menu a{
        font-size: 15px;
      }
      

      #open-modal{ /* bot達o */
      font-size: 14px;
      width: 150px;
      margin-left: 180px;
      }


      .center-projetos P{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-family: 'fonte1';
        color: black;
    }
    
    .center-projetos span{
        font-size: 15px;
        font-family: 'fonte1';
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: -490px;
        margin-left: 1020px;
    }

    /* .linha{
        margin-top: 80px;
        height: 15px;
        width: 10px;  
        display: flex;
        justify-content: center;
    } */

    .card-proj1{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 90px;
      box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
      float: right;
    }
    

    .card-proj2{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 90px;
      box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
      float: right;
      margin-right: 2px;
    }  

    .card-proj3{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: right;
    }

    .card-proj4{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: left;
    }
    
    .card-proj5{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: right;
    }
    
    .card-proj6{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: left;
    }

    .card-proj7{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: right;
    }
    
    .card-proj8{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: left;
    }

    .card-proj9{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: right;
    }

    .card-proj10{
      width: 450px;
      height: 340px;
      border-radius: 14px;
      overflow: hidden;
      margin-top: 80px;
      float: left;
    }

  }


@media screen and (min-width: 636px) and (max-width: 768px){ /*Celular*/
  body{
    overflow-x: hidden;
}

nav.contato{
    margin-top: -45px;
    margin-left: 520px;
    font-size: 10px;
    width: 185px;
      }

  nav li a{
    font-size: 16px;
  }

  .dropdown-menu a{
    font-size: 15px;
  }
  

  #open-modal{ /* bot達o */
  font-size: 14px;
  width: 150px;
  margin-left: 350px;
  }


  .center-projetos P{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'fonte1';
    color: black;
}

.center-projetos span{
    font-size: 15px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -440px;
    margin-left: 560px;
}


.card-proj1{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}


.card-proj2{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}  

.card-proj3{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj4{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj5{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj6{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj7{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj8{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj9{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj10{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px){ /*Tablet*/
  body{
    overflow-x: hidden;
}

nav.contato{
    margin-top: -45px;
    margin-left: 645px;
    font-size: 10px;
    width: 185px;
      }

  nav li a{
    font-size: 16px;
  }

  .dropdown-menu a{
    font-size: 15px;
  }
  

  #open-modal{ /* bot達o */
  font-size: 15px;
  width: 160px;
  margin-left: 470px;
  }


  .center-projetos P{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    font-family: 'fonte1';
    color: black;
}

.center-projetos span{
    font-size: 15px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -440px;
    margin-left: 700px;
}


.card-proj1{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}


.card-proj2{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}  

.card-proj3{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj4{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj5{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj6{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj7{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj8{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj9{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj10{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
  }
}












@media screen and (min-width: 992px){ /*Desktop e telas grandes*/
  
  body{
    overflow-x: hidden;
}

nav.contato{
    margin-top: -45px;
    margin-left: 785px;
    font-size: 10px;
    width: 185px;
      }

  nav li a{
    font-size: 16px;
  }

  .dropdown-menu a{
    font-size: 15px;
  }
  

  #open-modal{ /* bot達o */
  font-size: 15px;
  width: 160px;
  margin-left: 570px;
  }


  .center-projetos P{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    font-family: 'fonte1';
    color: black;
}

.center-projetos span{
    font-size: 15px;
    font-family: 'fonte1';
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -440px;
    margin-left: 700px;
}


.card-proj1{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}


.card-proj2{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}  

.card-proj3{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj4{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj5{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj6{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj7{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj8{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj9{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
}

.card-proj10{
  width: 500px;
  height: 345px;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 90px;
  box-shadow: 10px 20px 20px #383838, -4px -10px 60px #4f4f4f;
  float: right;
  margin-right: 50px;
  }
  
}