@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.slide{
    height: 100vh;
    width: 100vw;
    position: relative;
}


.wrapper{
    display: flex;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh); /* rolagem horizontal */
    transform-origin: top left;
    background-color: black;
}

.container{
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll; /* rolagem horizontal */
}

.camada2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}
 
::-webkit-scrollbar{
    display: none;
}

.camada2{
    background-image: url(img/annabella-proj1.png);
}