@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.slide{
    height: 100vh;
    width: 160vw;
    position: relative;
}


.wrapper{
    display: flex;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh); /* rolagem horizontal */
    transform-origin: top left;
    background-color: #c2c2c2e7;
}

.container{
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll; /* rolagem horizontal */
    scroll-behavior: smooth;
    background-color: #c2c2c2e7;
}

.camada{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}
 
::-webkit-scrollbar{
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track{
    background: hsl(0, 0%, 0%);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 100%);
    border-radius: 100vw;
    border: .25em hsl(60, 9%, 2%);
}

::-webkit-scrollbar-thumb:hover{
    background: hsla(0, 1%, 56%, 0.799);
}

/* SUPORTE EM OUTROS NAVEGADORES */
@supports (scrollbar-color: white black){
    *{
        scrollbar-color:  hsl(0, 0%, 68%) hsl(0, 0%, 0%);
        scrollbar-width: auto;
    }
}




.camada2{
    background-image: url(../img-projetos/piano-proj7-copia.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 35%;
    border-radius: 10px;
}

.camada2{
    width: 590px;
    margin-left: 50%;
    margin-top: 10%;
}

.camada3{
    background-image: url(../img-projetos/piano-proj7.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 40%;
    border-radius: 10px;
}

.camada3{
    width: 61%;
    margin-left: 90%;
    margin-top: -38%;

}


a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 130px;
}

.projeto{
    font-weight: bold;
    margin-left: 130px;
}

.projet-desc{
    margin: 0;
    padding-top: 20px;
}

.projet-desc p:not(:first-child){
    margin-top: 1em;
}

 h1{
    font-size: 4.5em;
    line-height: .95;
    font-style: normal;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    color: rgb(24, 24, 24);
    margin-top: 80px;
}

h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin-left: -95%;
    margin-top: 20%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}



.link{
    color: rgba(251, 251, 251, 0.978);
    margin-left: -95%;
    font-weight: bold;
    font-size: 25px;
    cursor: default;
}

.link-projet{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: -95%;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.link-projet2{
    font-weight: bold;
    color: rgba(3, 3, 3, 0.697);
    font-size: 25px;
    margin-left: -95%;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}


/* LEFT */
.projet-left{
    float: left;
    padding-left: 60px;
}



.back-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 40%;
    font-size: 18px;
    margin-top: 60px;
   }
   
   .back-btn:hover {
    background-color: #ddd;
   }
   
   .back-icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    transition: transform 0.2s ease;
   }
   
   .back-btn:hover .back-icon {
    transform: translateX(-3px);
   }