.center-projetos span{
    font-size: 25px;
    font-family: 'fonte1';
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
    margin-top: -140px;
    margin-left: 610px;
}
