@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.slide{
    height: 100vh;
    width: 160vw;
    position: relative;
}


.wrapper{
    display: flex;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh); /* rolagem horizontal */
    transform-origin: top left;
    background-color: #8805a2ad;
}

.container{
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll; /* rolagem horizontal */
    scroll-behavior: smooth;
    background: #8805a2fe;
}

.camada{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}
 
::-webkit-scrollbar{
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track{
    background: hsla(293, 100%, 22%, 0.963);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb{
    background: hsl(291, 67%, 61%);
    border-radius: 100vw;
    border: .25em hsl(37 9% 2% / 1);
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(281, 95%, 43%);
}

/* SUPORTE EM OUTROS NAVEGADORES */
/* @supports (scrollbar-color: white black){
    *{
        scrollbar-color:  hsl(0, 0%, 68%) hsl(0, 0%, 0%);
        scrollbar-width: auto;
    }
} */




.camada2{
    background-image: url(../img-projetos/midiaSocial-proj4.png);
    text-align: center;
    padding-top: 40%;
    border-radius: 10px;
}

.camada2{
    width: 590px;
    margin-left: 750px;
    margin-top: 100px;
}

.camada3{
    background-image: url(../img-projetos/midiaSocial-proj4.png);
    text-align: center;
    padding-top: 40%;
    border-radius: 10px;
}

.camada3{
    width: 80%;
    margin-left: 85%;
    margin-top: -40%;

}


.camada4{
    background-image: url(../img-projetos/notificações.png);
    text-align: center;
    padding-top: 40%;
    border-radius: 10px;
}

.camada4{
    width: 75%;
    margin-left: 170%;
    margin-top: -40%;

}


.camada5{
    background-image: url(../img-projetos/modif-cores.png);
    text-align: center;
    padding-top: 40%;
    border-radius: 10px;
}

.camada5{
    width: 100%;
    margin-left: 250%;
    margin-top: -40%;

}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-left: 130px;
}

.projeto{
    font-weight: bold;
    margin-left: 130px;
}

.projet-desc{
    margin: 0;
    padding-top: 20px;
}

.projet-desc p:not(:first-child){
    margin-top: 1em;
}

/* LEFT */
.projet-left{
    float: left;
    padding-left: 60px;
}

 h1{
    font-size: 4.5em;
    line-height: .95;
    font-style: normal;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    color: rgb(58, 0, 94);
    margin-top: 80px;
}

h2{
    font-size: 2em;
    color: rgb(58, 0, 94);
    margin-left: -95%;
    margin-top: 18%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.link{
    color: rgb(78, 0, 87);
    margin-left: -95%;
    font-weight: bold;
    font-size: 25px;
    cursor: default;
}

.link-projet{
    font-weight: bold;
    color: rgb(217, 0, 255);
    font-size: 25px;
    margin-left: -95%;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.link-projet2{
    font-weight: bold;
    color: rgba(3, 3, 3, 0.697);
    font-size: 25px;
    margin-left: -95%;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}